*{
    margin:0;
    padding: 0;
}
.bodyContainer{
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows:1fr 8fr 1fr;
     grid-template-areas: 
   " navbar navbar"
   " aside content"
   "footer footer"
   
   ;

}
#navbar{
    display: flex;
    grid-area: navbar;
    border:1px solid black;


}
.navbarHead{
    margin :15px 15px 15px 55px;

    display: flex;
    align-items: center;
}

.aside{
    grid-area:aside;
    border:1px solid black;
}
.content{
    grid-area: content;   
     border:1px solid black;

}
.footer{
    grid-area: footer;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentSection {
    margin: 15px;
    padding: 15px;
  display: grid;
  grid-template-areas:
  "intro"
"Avatar"
"Badge"
"Button";
grid-gap: 1rem;
}
.contentSection p {
    margin-top: 15px;
}

#Avatar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
grid-area:Avatar;
}

#intro{
grid-area:intro;
}
#Badge{
grid-area:Badge;
}
#Button{
grid-area:Button;
}
#asideList{
    
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}
#asideList li{
    padding-bottom: 5px;
}